#treemap {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  border-radius: 10px;
  pointer-events: all;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: #9b9b9b;
}

.grandparent:hover rect {

}

.children rect.parent,
.grandparent rect {

}

.children rect.parent {
  fill: #fff;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #fff;
}

.gtitle {
  color: #fff;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
